cassio
datasets
langchain
langchain_community
chromadb
pypdf
sentence-transformers
google-generativeai
tiktoken
PyPDF2
streamlit
python-dotenv
typing-extensions
langchain-google-genai
streamlit
faiss-cpu